<table>
  <tr>
    <th>Position</th>
    <th>Club</th>
    <th>Played</th>
    <th>Won</th>
    <th>Drawn</th>
    <th>Lost</th>
    <th>GF</th>
    <th>GA</th>
    <th>GD</th>
    <th>Points</th>
  </tr>
  <tr *ngFor="let item of standingsArray">
    <td>{{item.position}}</td>
    <td>{{item.teamName}}</td>
    <td>{{item.playedGames}}</td>
    <td>{{item.wins}}</td>
    <td>{{item.draws}}</td>
    <td>{{item.losses}}</td>
    <td>{{item.goals}}</td>
    <td>{{item.goalsAgainst}}</td>
    <td>{{item.goalDifference}}</td>
    <td>{{item.points}}</td>
  </tr>
</table>
